/*
Font families defined by this CSS:
  - InterVariable  variable font for modern web browsers
  - Inter          static fonts for older web browsers (small optical size)
  - InterDisplay   static fonts for older web browsers (large optical size)

Usage example:
  :root { font-family: Inter, sans-serif; }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

*/
@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('fonts/inter/InterVariable.woff2?v={{font_v}}') format('woff2');
}

@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('fonts/inter/InterVariable-Italic.woff2?v={{font_v}}') format('woff2');
}

/* legacy name "Inter var" (Oct 2023) */
@font-face {
    font-family: 'Inter var';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('fonts/inter/InterVariable.woff2?v={{font_v}}') format('woff2');
}

@font-face {
    font-family: 'Inter var';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url('fonts/inter/InterVariable-Italic.woff2?v={{font_v}}') format('woff2');
}

/* static fonts */
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:url("fonts/inter/Inter-Thin.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src:url("fonts/inter/Inter-ThinItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:url("fonts/inter/Inter-ExtraLight.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src:url("fonts/inter/Inter-ExtraLightItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:url("fonts/inter/Inter-Light.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src:url("fonts/inter/Inter-LightItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:url("fonts/inter/Inter-Regular.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:url("fonts/inter/Inter-Italic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:url("fonts/inter/Inter-Medium.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src:url("fonts/inter/Inter-MediumItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:url("fonts/inter/Inter-SemiBold.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src:url("fonts/inter/Inter-SemiBoldItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:url("fonts/inter/Inter-Bold.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src:url("fonts/inter/Inter-BoldItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:url("fonts/inter/Inter-ExtraBold.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src:url("fonts/inter/Inter-ExtraBoldItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:url("fonts/inter/Inter-Black.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src:url("fonts/inter/Inter-BlackItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-Thin.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-ThinItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-ExtraLight.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-ExtraLightItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-Light.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-LightItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-Regular.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-Italic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-Medium.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-MediumItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-SemiBold.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-SemiBoldItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-Bold.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-BoldItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-ExtraBold.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-ExtraBoldItalic.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-Black.woff2?v={{font_v}}") format("woff2");
}

@font-face {
    font-family: InterDisplay;
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src:url("fonts/inter/InterDisplay-BlackItalic.woff2?v={{font_v}}") format("woff2");
}

@font-feature-values InterVariable {
    @character-variant {
        cv01: 1;
        cv02: 2;
        cv03: 3;
        cv04: 4;
        cv05: 5;
        cv06: 6;
        cv07: 7;
        cv08: 8;
        cv09: 9;
        cv10: 10;
        cv11: 11;
        cv12: 12;
        cv13: 13;
        alt-1: 1;
        /* Alternate one */
        alt-3: 9;
        /* Flat-top three */
        open-4: 2;
        /* Open four */
        open-6: 3;
        /* Open six */
        open-9: 4;
        /* Open nine */
        lc-l-with-tail: 5;
        /* Lower-case L with tail */
        simplified-u: 6;
        /* Simplified u */
        alt-double-s: 7;
        /* Alternate German double s */
        uc-i-with-serif: 8;
        /* Upper-case i with serif */
        uc-g-with-spur: 10;
        /* Capital G with spur */
        single-story-a: 11;
        /* Single-story a */
        compact-lc-f: 12;
        /* Compact f */
        compact-lc-t: 13;
        /* Compact t */
    }

    @styleset {
        ss01: 1;
        ss02: 2;
        ss03: 3;
        ss04: 4;
        ss05: 5;
        ss06: 6;
        ss07: 7;
        ss08: 8;
        open-digits: 1;
        /* Open digits */
        disambiguation: 2;
        /* Disambiguation (with zero) */
        disambiguation-except-zero: 4;
        /* Disambiguation (no zero) */
        round-quotes-and-commas: 3;
        /* Round quotes &amp; commas */
        square-punctuation: 7;
        /* Square punctuation */
        square-quotes: 8;
        /* Square quotes */
        circled-characters: 5;
        /* Circled characters */
        squared-characters: 6;
        /* Squared characters */
    }
}

@font-feature-values Inter {
    @character-variant {
        cv01: 1;
        cv02: 2;
        cv03: 3;
        cv04: 4;
        cv05: 5;
        cv06: 6;
        cv07: 7;
        cv08: 8;
        cv09: 9;
        cv10: 10;
        cv11: 11;
        cv12: 12;
        cv13: 13;
        alt-1: 1;
        /* Alternate one */
        alt-3: 9;
        /* Flat-top three */
        open-4: 2;
        /* Open four */
        open-6: 3;
        /* Open six */
        open-9: 4;
        /* Open nine */
        lc-l-with-tail: 5;
        /* Lower-case L with tail */
        simplified-u: 6;
        /* Simplified u */
        alt-double-s: 7;
        /* Alternate German double s */
        uc-i-with-serif: 8;
        /* Upper-case i with serif */
        uc-g-with-spur: 10;
        /* Capital G with spur */
        single-story-a: 11;
        /* Single-story a */
        compact-lc-f: 12;
        /* Compact f */
        compact-lc-t: 13;
        /* Compact t */
    }

    @styleset {
        ss01: 1;
        ss02: 2;
        ss03: 3;
        ss04: 4;
        ss05: 5;
        ss06: 6;
        ss07: 7;
        ss08: 8;
        open-digits: 1;
        /* Open digits */
        disambiguation: 2;
        /* Disambiguation (with zero) */
        disambiguation-except-zero: 4;
        /* Disambiguation (no zero) */
        round-quotes-and-commas: 3;
        /* Round quotes &amp; commas */
        square-punctuation: 7;
        /* Square punctuation */
        square-quotes: 8;
        /* Square quotes */
        circled-characters: 5;
        /* Circled characters */
        squared-characters: 6;
        /* Squared characters */
    }
}

@font-feature-values InterDisplay {
    @character-variant {
        cv01: 1;
        cv02: 2;
        cv03: 3;
        cv04: 4;
        cv05: 5;
        cv06: 6;
        cv07: 7;
        cv08: 8;
        cv09: 9;
        cv10: 10;
        cv11: 11;
        cv12: 12;
        cv13: 13;
        alt-1: 1;
        /* Alternate one */
        alt-3: 9;
        /* Flat-top three */
        open-4: 2;
        /* Open four */
        open-6: 3;
        /* Open six */
        open-9: 4;
        /* Open nine */
        lc-l-with-tail: 5;
        /* Lower-case L with tail */
        simplified-u: 6;
        /* Simplified u */
        alt-double-s: 7;
        /* Alternate German double s */
        uc-i-with-serif: 8;
        /* Upper-case i with serif */
        uc-g-with-spur: 10;
        /* Capital G with spur */
        single-story-a: 11;
        /* Single-story a */
        compact-lc-f: 12;
        /* Compact f */
        compact-lc-t: 13;
        /* Compact t */
    }

    @styleset {
        ss01: 1;
        ss02: 2;
        ss03: 3;
        ss04: 4;
        ss05: 5;
        ss06: 6;
        ss07: 7;
        ss08: 8;
        open-digits: 1;
        /* Open digits */
        disambiguation: 2;
        /* Disambiguation (with zero) */
        disambiguation-except-zero: 4;
        /* Disambiguation (no zero) */
        round-quotes-and-commas: 3;
        /* Round quotes &amp; commas */
        square-punctuation: 7;
        /* Square punctuation */
        square-quotes: 8;
        /* Square quotes */
        circled-characters: 5;
        /* Circled characters */
        squared-characters: 6;
        /* Squared characters */
    }
}

/* InterVariable Font Classes */
.intervariable-normal-100 {
    font-family: InterVariable, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.intervariable-normal-200 {
    font-family: InterVariable, sans-serif;
    font-style: normal;
    font-weight: 200;
}

.intervariable-normal-300 {
    font-family: InterVariable, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.intervariable-normal-400 {
    font-family: InterVariable, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.intervariable-normal-500 {
    font-family: InterVariable, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.intervariable-normal-600 {
    font-family: InterVariable, sans-serif;
    font-style: normal;
    font-weight: 600;
}

.intervariable-normal-700 {
    font-family: InterVariable, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.intervariable-normal-800 {
    font-family: InterVariable, sans-serif;
    font-style: normal;
    font-weight: 800;
}

.intervariable-normal-900 {
    font-family: InterVariable, sans-serif;
    font-style: normal;
    font-weight: 900;
}

.intervariable-italic-100 {
    font-family: InterVariable, sans-serif;
    font-style: italic;
    font-weight: 100;
}

.intervariable-italic-200 {
    font-family: InterVariable, sans-serif;
    font-style: italic;
    font-weight: 200;
}

.intervariable-italic-300 {
    font-family: InterVariable, sans-serif;
    font-style: italic;
    font-weight: 300;
}

.intervariable-italic-400 {
    font-family: InterVariable, sans-serif;
    font-style: italic;
    font-weight: 400;
}

.intervariable-italic-500 {
    font-family: InterVariable, sans-serif;
    font-style: italic;
    font-weight: 500;
}

.intervariable-italic-600 {
    font-family: InterVariable, sans-serif;
    font-style: italic;
    font-weight: 600;
}

.intervariable-italic-700 {
    font-family: InterVariable, sans-serif;
    font-style: italic;
    font-weight: 700;
}

.intervariable-italic-800 {
    font-family: InterVariable, sans-serif;
    font-style: italic;
    font-weight: 800;
}

.intervariable-italic-900 {
    font-family: InterVariable, sans-serif;
    font-style: italic;
    font-weight: 900;
}

/* Inter Font Classes */
.inter-normal-100 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.inter-normal-200 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 200;
}

.inter-normal-300 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.inter-normal-400 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.inter-normal-500 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.inter-normal-600 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
}

.inter-normal-700 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.inter-normal-800 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 800;
}

.inter-normal-900 {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
}

.inter-italic-100 {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: 100;
}

.inter-italic-200 {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: 200;
}

.inter-italic-300 {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: 300;
}

.inter-italic-400 {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: 400;
}

.inter-italic-500 {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: 500;
}

.inter-italic-600 {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: 600;
}

.inter-italic-700 {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: 700;
}

.inter-italic-800 {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: 800;
}

.inter-italic-900 {
    font-family: Inter, sans-serif;
    font-style: italic;
    font-weight: 900;
}

/* InterDisplay Font Classes */
.interdisplay-normal-100 {
    font-family: InterDisplay, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.interdisplay-normal-200 {
    font-family: InterDisplay, sans-serif;
    font-style: normal;
    font-weight: 200;
}

.interdisplay-normal-300 {
    font-family: InterDisplay, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.interdisplay-normal-400 {
    font-family: InterDisplay, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.interdisplay-normal-500 {
    font-family: InterDisplay, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.interdisplay-normal-600 {
    font-family: InterDisplay, sans-serif;
    font-style: normal;
    font-weight: 600;
}

.interdisplay-normal-700 {
    font-family: InterDisplay, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.interdisplay-normal-800 {
    font-family: InterDisplay, sans-serif;
    font-style: normal;
    font-weight: 800;
}

.interdisplay-normal-900 {
    font-family: InterDisplay, sans-serif;
    font-style: normal;
    font-weight: 900;
}

.interdisplay-italic-100 {
    font-family: InterDisplay, sans-serif;
    font-style: italic;
    font-weight: 100;
}

.interdisplay-italic-200 {
    font-family: InterDisplay, sans-serif;
    font-style: italic;
    font-weight: 200;
}

.interdisplay-italic-300 {
    font-family: InterDisplay, sans-serif;
    font-style: italic;
    font-weight: 300;
}

.interdisplay-italic-400 {
    font-family: InterDisplay, sans-serif;
    font-style: italic;
    font-weight: 400;
}

.interdisplay-italic-500 {
    font-family: InterDisplay, sans-serif;
    font-style: italic;
    font-weight: 500;
}

.interdisplay-italic-600 {
    font-family: InterDisplay, sans-serif;
    font-style: italic;
    font-weight: 600;
}

.interdisplay-italic-700 {
    font-family: InterDisplay, sans-serif;
    font-style: italic;
    font-weight: 700;
}

.interdisplay-italic-800 {
    font-family: InterDisplay, sans-serif;
    font-style: italic;
    font-weight: 800;
}

.interdisplay-italic-900 {
    font-family: InterDisplay, sans-serif;
    font-style: italic;
    font-weight: 900;
}